## 1. Import Necessary Libraries

In [1]:
import re
import string
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

### 2. Import the Dataset

In [2]:
raw_data = pd.read_csv("Datasets/Raw_Property.csv")
raw_data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability
0,Omkar Alta Monte,Arunachal Pradesh,5 Crore,"17,241",Super Built up area 2900(269.42 sq.m.)Built Up...,3,4,14th,0 to 1 Year Old,Ready to move
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,2.4 Crore,"12,631",Super Built up area 1900(176.52 sq.m.)Built Up...,3,3,8th,1 to 5 Year Old,Ready to move Property
2,Legend 1 Pramila Nagar,Arunachal Pradesh,95 Lac,"15,966",Super Built up area 595(55.28 sq.m.),1,2,3rd,10+ Year Old,Ready to move
3,Unnamed Property,Arunachal Pradesh,3.75 Crore,"25,862",Built Up area: 1450 (134.71 sq.m.),3,3,1st,5 to 10 Year Old,Ready to move
4,Unnamed Property,Arunachal Pradesh,3.5 Crore,"39,954",Carpet area: 876 (81.38 sq.m.),2,2,5th,5 to 10 Year Old,Ready to move
...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,Delhi,1.22 Crore,"10,338",Built Up area: 1180 (109.63 sq.m.),2,2,2nd,1 to 5 Year Old,Ready to move
2577,Guru Anant,Delhi,88 Lac,"8,073",Built Up area: 1090 (101.26 sq.m.),2,2,11st,0 to 1 Year Old,Ready to move
2578,Balaji Mayuresh Delta,Delhi,1.37 Crore,"10,579",Built Up area: 1295 (120.31 sq.m.),2,2,6th,1 to 5 Year Old,Ready to move
2579,Balaji Mayuresh Delta,Delhi,1.71 Crore,"9,243",Built Up area: 1850 (171.87 sq.m.),3,3,6th,1 to 5 Year Old,Ready to move
2580,Gurukrupa Tulsi Heights,Delhi,95 Lac,"8,636",Built Up area: 1100 (102.19 sq.m.),2,2,4th,0 to 1 Year Old,Ready to move

### 3. Data Preprocessing
#### 3.1 Remove the Unwantend Symbols and Text

In [3]:
raw_data["Property_Age"] = raw_data["Property_Age"].str.replace(' Old','')

In [4]:
raw_data["Rate_SqFt"] = raw_data["Rate_SqFt"].str.replace(',','')

In [5]:
raw_data["Availability"] = raw_data["Availability"].str.title()
raw_data["Availability"] = raw_data["Availability"].str.replace(' Property','')
raw_data["Availability"] = [i.lstrip() for i in raw_data["Availability"]]

In [6]:
raw_data.Availability.unique()

array(['Ready To Move', 'Under Construction'], dtype=object)

#### 3.2 Set Colum Area in SqFt

In [7]:
area=[]
for i in range(2581):
    clean_sqft = re.sub('[^0-9.]', " ", raw_data["Area_Tpye"][i])
    area.append(clean_sqft.split()[0])
raw_data['Area_SqFt']=area

#### 3.3 Set Colum Type of Carpet Area

In [8]:
carpet=[]
for i in range(2581):
    clean_carpet = re.sub('[^a-zA-Z]', " ", raw_data['Area_Tpye'][i])
    carpet.append(clean_carpet.split()[0]+' '+clean_carpet.split()[1])
raw_data['Area_Tpye']=carpet

In [9]:
raw_data['Area_Tpye'] = raw_data.Area_Tpye.str.title()

In [10]:
raw_data['Area_Tpye'] = raw_data.Area_Tpye.str.replace('Super Built','Super Built Up')
raw_data['Area_Tpye'] = raw_data.Area_Tpye.str.replace('Built Up','Built Up Area')
raw_data['Area_Tpye'] = raw_data.Area_Tpye.str.replace('Carpet Area ','Carpet Area')

In [11]:
raw_data.Area_Tpye.unique()

array(['Super Built Up Area', 'Built Up Area', 'Carpet Area', 'Plot Area'],
      dtype=object)

#### 3.4 Remove Unwanted Text from Floor No

In [12]:
raw_data['Floor_No'] = raw_data.Floor_No.str.replace('Ground','0')
raw_data['Floor_No'] = raw_data.Floor_No.str.replace('Basement','-1')

In [13]:
floor=[]
for i in range(2581):
    clean_sqft = re.sub('[^0-9-]', "", raw_data["Floor_No"][i])
    floor.append(clean_sqft)
raw_data['Floor_No']=floor

#### 3.5 Set Colum Region

In [14]:
raw_data['Region']=raw_data["Location"]

In [15]:
raw_data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt,Region
0,Omkar Alta Monte,Arunachal Pradesh,5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900,Arunachal Pradesh
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900,Arunachal Pradesh
2,Legend 1 Pramila Nagar,Arunachal Pradesh,95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595,Arunachal Pradesh
3,Unnamed Property,Arunachal Pradesh,3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450,Arunachal Pradesh
4,Unnamed Property,Arunachal Pradesh,3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876,Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,Delhi,1.22 Crore,10338,Built Up Area,2,2,2,1 to 5 Year,Ready To Move,1180,Delhi
2577,Guru Anant,Delhi,88 Lac,8073,Built Up Area,2,2,11,0 to 1 Year,Ready To Move,1090,Delhi
2578,Balaji Mayuresh Delta,Delhi,1.37 Crore,10579,Built Up Area,2,2,6,1 to 5 Year,Ready To Move,1295,Delhi
2579,Balaji Mayuresh Delta,Delhi,1.71 Crore,9243,Built Up Area,3,3,6,1 to 5 Year,Ready To Move,1850,Delhi
2580,Gurukrupa Tulsi Heights,Delhi,95 Lac,8636,Built Up Area,2,2,4,0 to 1 Year,Ready To Move,1100,Delhi

In [16]:
raw_data.Region.value_counts().head(30)

Region
Chandigarh           200
Bangalore            100
Bhubaneshwar         100
Nagaland             100
Mumbai               100
Bhopal               100
Trivandum            100
Hyderabad            100
Ranchi               100
Shimla               100
Gandhinagar          100
Chennai              100
Panaji               100
Raipur               100
Amravati             100
Patna                100
Agartala             100
Dehradun             100
Lucknow              100
Kolkata              100
Jaipur               100
Delhi                 82
Meghalaya             50
Assam                 50
Tripura               50
Sikkim                50
Manipur               50
Arunachal Pradesh     49
Name: count, dtype: int64

In [17]:
add=[]
for i in range(2581):
    clean_add = re.sub('[^a-zA-Z0-9]', " ", raw_data["Location"][i])
    add.append(clean_add)
raw_data['Location']=add

In [18]:
raw_data["Location"] = raw_data["Location"].str.replace('   ',' ')
raw_data["Location"] = raw_data["Location"].str.replace('  ',' ')

In [19]:
raw_data

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt,Region
0,Omkar Alta Monte,Arunachal Pradesh,5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900,Arunachal Pradesh
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900,Arunachal Pradesh
2,Legend 1 Pramila Nagar,Arunachal Pradesh,95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595,Arunachal Pradesh
3,Unnamed Property,Arunachal Pradesh,3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450,Arunachal Pradesh
4,Unnamed Property,Arunachal Pradesh,3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876,Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...
2576,Shagun White Woods,Delhi,1.22 Crore,10338,Built Up Area,2,2,2,1 to 5 Year,Ready To Move,1180,Delhi
2577,Guru Anant,Delhi,88 Lac,8073,Built Up Area,2,2,11,0 to 1 Year,Ready To Move,1090,Delhi
2578,Balaji Mayuresh Delta,Delhi,1.37 Crore,10579,Built Up Area,2,2,6,1 to 5 Year,Ready To Move,1295,Delhi
2579,Balaji Mayuresh Delta,Delhi,1.71 Crore,9243,Built Up Area,3,3,6,1 to 5 Year,Ready To Move,1850,Delhi
2580,Gurukrupa Tulsi Heights,Delhi,95 Lac,8636,Built Up Area,2,2,4,0 to 1 Year,Ready To Move,1100,Delhi

#### 3.6 Replace the all Values in Lac's from Price Column

In [20]:
def converter(x):
    if 'Lac' in x:
        return f"{(float(x.strip('Lac'))*1):,.1f}"
    elif 'Crore' in x:
        return f"{(float(x.strip('Crore'))*100):,.1f}"

raw_data['Price_Lakh'] = raw_data['Price'].apply(converter)
raw_data["Price_Lakh"] = raw_data["Price_Lakh"].str.replace(',','')

In [21]:
raw_data.head()

,Property_Name,Location,Price,Rate_SqFt,Area_Tpye,Bedroom,Bathroom,Floor_No,Property_Age,Availability,Area_SqFt,Region,Price_Lakh
0,Omkar Alta Monte,Arunachal Pradesh,5 Crore,17241,Super Built Up Area,3,4,14,0 to 1 Year,Ready To Move,2900,Arunachal Pradesh,500.0
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,2.4 Crore,12631,Super Built Up Area,3,3,8,1 to 5 Year,Ready To Move,1900,Arunachal Pradesh,240.0
2,Legend 1 Pramila Nagar,Arunachal Pradesh,95 Lac,15966,Super Built Up Area,1,2,3,10+ Year,Ready To Move,595,Arunachal Pradesh,95.0
3,Unnamed Property,Arunachal Pradesh,3.75 Crore,25862,Built Up Area,3,3,1,5 to 10 Year,Ready To Move,1450,Arunachal Pradesh,375.0
4,Unnamed Property,Arunachal Pradesh,3.5 Crore,39954,Carpet Area,2,2,5,5 to 10 Year,Ready To Move,876,Arunachal Pradesh,350.0

#### 3.7 Check The Null Values and Remove

In [22]:
raw_data.isna().sum()

Property_Name    0
Location         0
Price            0
Rate_SqFt        0
Area_Tpye        0
Bedroom          0
Bathroom         0
Floor_No         0
Property_Age     0
Availability     0
Area_SqFt        0
Region           0
Price_Lakh       1
dtype: int64

In [23]:
raw_data.dropna(inplace=True)
raw_data.reset_index(drop=True, inplace=True)

In [24]:
raw_data = raw_data.reset_index(drop=True)
raw_data = raw_data.to_csv('Datasets/Property_Location.csv', index=False)

#### 3.8 Sort the all Columns

In [25]:
raw_data = pd.read_csv('Datasets/Property_Location.csv')

In [26]:
raw_data = raw_data[['Property_Name','Location','Region','Property_Age','Availability','Area_Tpye','Area_SqFt','Rate_SqFt','Floor_No','Bedroom','Bathroom','Price_Lakh']]
raw_data

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,Arunachal Pradesh,Arunachal Pradesh,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,Arunachal Pradesh,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Arunachal Pradesh,Arunachal Pradesh,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Arunachal Pradesh,Arunachal Pradesh,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,Arunachal Pradesh,Arunachal Pradesh,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Delhi,Delhi,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Delhi,Delhi,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

#### 3.9 Create a Final Clean CSV File

In [27]:
raw_data = raw_data.reset_index(drop=True)
property = raw_data.to_csv('Datasets/Property.csv', index=False)

In [28]:
property = pd.read_csv('Datasets/Property.csv')
property

,Property_Name,Location,Region,Property_Age,Availability,Area_Tpye,Area_SqFt,Rate_SqFt,Floor_No,Bedroom,Bathroom,Price_Lakh
0,Omkar Alta Monte,Arunachal Pradesh,Arunachal Pradesh,0 to 1 Year,Ready To Move,Super Built Up Area,2900.0,17241,14,3,4,500.0
1,T Bhimjyani Neelkanth Woods,Arunachal Pradesh,Arunachal Pradesh,1 to 5 Year,Ready To Move,Super Built Up Area,1900.0,12631,8,3,3,240.0
2,Legend 1 Pramila Nagar,Arunachal Pradesh,Arunachal Pradesh,10+ Year,Ready To Move,Super Built Up Area,595.0,15966,3,1,2,95.0
3,Unnamed Property,Arunachal Pradesh,Arunachal Pradesh,5 to 10 Year,Ready To Move,Built Up Area,1450.0,25862,1,3,3,375.0
4,Unnamed Property,Arunachal Pradesh,Arunachal Pradesh,5 to 10 Year,Ready To Move,Carpet Area,876.0,39954,5,2,2,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2575,Shagun White Woods,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1180.0,10338,2,2,2,122.0
2576,Guru Anant,Delhi,Delhi,0 to 1 Year,Ready To Move,Built Up Area,1090.0,8073,11,2,2,88.0
2577,Balaji Mayuresh Delta,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1295.0,10579,6,2,2,137.0
2578,Balaji Mayuresh Delta,Delhi,Delhi,1 to 5 Year,Ready To Move,Built Up Area,1850.0,9243,6,3,3,171.0
2579,Gurukrupa Tulsi Heights,Delhi,Delhi,0 to 1 Year,Ready To Move,Built Up Area,1100.0,8636,4,2,2,95.0

# The End !!